*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}


body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
   background: transparent;
   cursor: pointer;
}

h5,h3{
  font-weight: 600;
}
a{
  color: inherit;
}

span{
  font-weight: 300;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}